.situations-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.situations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
    width: 70%;
}